<%= form_for(@post) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= collection_select(:post, :category, Category.all, :id, :name) %>

  <%= f.label :command %>
  <%= f.text_field :command %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>

<% end %>


<!-- <%#= <select name="post[category_id]">
      <option value="">Please Select Category</option>
      <option value="1" selected="selected"> Beginner </option>
      <option value="2"> Ruby </option>
      <option value="3"> Terminal </option>) #%> -->
