<nav class="nav-list">
  <h1 class="nav-header">DEVELOPMENT COMMAND HACKS</h1>
  <ul>
    <li><%= link_to "HOME", posts_path, class: "home"%></li>
    <li><%= link_to "CREATE COMMAND", new_post_path, class: "create" %></li>
    <li>
      <% if session[:user_id]%>
        <%= link_to "MY COMMANDS", user_path(@user), class: "my_command" %>
      <% end %>
  </ul>
</nav>

<nav class="categories">
  <ul>
    <li> <%= image_tag("baby3.png", class: "baby") %>
          <%= link_to "BEGINNER", category_path %></li>


    <li><%= image_tag("ruby2.png", class: "ruby") %><br>RUBY<br></li>
    <li><%= image_tag("terminal3.png", class: "terminal") %><br>TERMINAL<br></li>
  </ul>
</nav>
