<!------------Categories Links---------------------->
<nav class="categories">
  <ul>
    <li><%= image_tag("baby3.png", class: "icon") %><%= link_to "BEGINNER", category_path %></li>
    <li><%= image_tag("ruby2.png", class: "icon") %><%= link_to "RUBY", category_path %></li>
    <li><%= image_tag("terminal3.png", class: "icon") %><%= link_to "TERMINAL", category_path %></li>
  </ul>
</nav>

<div id="owl-example" class="owl-carousel">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  ...
</div>
