<nav class="nav-list">
  <h1 class="nav-header">DEVELOPMENT COMMAND HACKS</h1>
  <ul>
    <li><%= link_to "HOME", posts_path, class: "home"%></li>
    <li><%= link_to "CREATE COMMAND", new_post_path, class: "create" %></li>
    <li>
      <% if session[:user_id]%>
        <%= link_to "MY COMMANDS", user_path(@user), class: "my_command" %>
      <% end %>
    </li>
  </ul>
</nav>

<% @posts.each do |post| %>
  <div>
    <p> <%= link_to "#{post.title}", post_path(post) %></p>
    <p> <%= post.command %> </p>
    <p> <%= post.description %> </p>
  </div>
<% end %>

<nav class="categories">
  <ul>
    <li>BEGINNER</li>
    <li>TERMINAL</li>
    <li>RUBY</li>
  </ul>
</nav>
