<div>
  <p> <%= @post.title %>
    <% if @post.user_id == current_user.id %>
      <%= link_to "(Edit)", edit_post_path(@post) %>
    <% end %>
  </p>
  <p> <%= @post.category %> </p>
  <p> <%= @post.command %> </p>
  <p> <%= @post.description %> </p>
</div>
