<!DOCTYPE html>
<html>
<head>
  <title>Developer Command Hacks</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-container">
    <nav class="nav-list">
      <h1 class="nav-header">DEVELOPMENT COMMAND HACKS</h1>
      <ul>
        <li><%= link_to "HOME", posts_path, class: "home"%></li>
        <li><%= link_to "CREATE COMMAND", new_post_path, class: "create" %></li>
        <li>
          <% if session[:user_id]%>
            <%= link_to "MY COMMANDS", user_path(@user), class: "my_command" %>
          <% end %>
        </li>
        <li>SIGNOUT</li>
        <nav>
          <% if session[:is_signed_in] %>
            <a href="/signout"><%= current_user.username %>: sign out</a>
          <% else %>
            <a href="/signup">Sign Up</a>
            <a href="/signin">Sign In</a>
          <% end %>
        </nav>
        <div class="flash_notice"> <%= flash[:notice] %> </div>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
